* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}
.card1 {
  /* flex: 1; */
  min-width: 250px;
  background: orange;
  color: white;
  padding: 40px;
}
.card2 {
  /* flex: 1; */
  min-width: 250px;
  background: blue;
  color: white;
  padding: 40px;
}
.card3 {
  /* flex: 1; */
  min-width: 250px;
  background: green;
  color: white;
  padding: 40px;
}
