* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  background: red;
  display: flex;
  background-color: lightgray;
  padding: 200px;
}
/* #container #box {
  background: green;
  color: white;
  padding: 30px;
  margin: 10px;
  display: flex;
} */

.box1 {
  background: red;
  display: flex;
}
.box2 {
  background: black;
  display: flex;
}
.box3 {
  background: blue;
}
